<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Welcome, <%= @user.full_name %>!</h1>
    <p>
      Your account has been created successfully.
    </p>
    <p>
      <strong>Email:</strong> <%= @user.email %><br/>
      <strong>Password:</strong> <%= @password %>
    </p>
    <p>
      <em>Note: This password will only be sent once for security reasons. If you lose it, you will need to reset your password.</em>
    </p>
  </body>
</html>
