development:
  adapter: solid_cable

test:
  adapter: test

production:
  adapter: solid_cable
  url: <%= Rails.application.credentials.dig(:redis, :url) || "redis://localhost:6379/1" %>
  channel_prefix: backend_production
