default: &default
  dispatchers:
    - polling_interval: 1
      batch_size: 500
  workers:
    - queues: "*"
      polling_interval: 0.1
  threads: 3
  processes: <%= Rails.application.credentials.dig(:jobs, :concurrency) || 1 %>

development:
  <<: *default

test:
  <<: *default

production:
  <<: *default
